@font-face {
    font-family: 'FontTitle';
    src: url(../KitComposiçãoLogin/FontesUtilizadas/FonteTitulo/Quache-HeavyExExp_PERSONAL.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontText';
    src: url(../KitComposiçãoLogin/FontesUtilizadas/FonteTextoNormal/zh-cn.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'FontText';
    color: #65574e;
    background-image: url(../KitComposiçãoLogin/svg/CéuTardio.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5rem;
    width: 100%;
    box-sizing: border-box;
}

.right,
.left {
    display: flex;
    margin-top: 1%;
}

.container {
    background-image: url(../KitComposiçãoLogin/svg/LivroLogin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 64%;
    height: 36rem;
    background-size: cover;
    margin: 1rem auto;
    padding-top: 2%;
}

.titulo {
    font-family: 'FontTitle';
    margin-left: 40%;
    font-size: 2.5rem;
    background: radial-gradient(35.93% 154.2% at 50.14% 186.81%, #C9C0A9 0%, #65574E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quadrados {
    width: 78.75%;
    height: 55%;
    margin-left: 10.5%;
    display: flex;
    margin-top: 2.5%;
}

.formulario {
    width: 41%;
    height: 80%;
    padding: 2%;
    padding-top: 8%;
}

.caixaTexto {
    width: 100%;
    padding: 2.2%;
    border-radius: 5px;
    margin-left: -2%;
    background-image: url(../KitComposiçãoLogin/svg/CampodeTexto.svg);
    font-family: 'FontText';
}

.primeiraCaixaTexto {
    width: 100%;
    padding: 2.2%;
    border-radius: 5px;
    margin-left: -2%;
    background-image: url(../KitComposiçãoLogin/svg/CampodeTexto.svg);
    margin-bottom: 8%;
}

label {
    font-size: large;
}

input {
    width: 98%;
    border: none;
    background-color: transparent;
    padding: 2%;
    padding-left: 5%;
}

input:focus {
    border: none;
    outline: none;
}

.caixaBotao {
    width: 215px;
    height: 52px;
    background-image: url(../KitComposiçãoLogin/png/Botões/ConfirmButton.png);
    background-size: cover;
    margin-left: 6%;
}

.botao {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: beige;
    font-size: larger;
}

.botao:focus {
    border: none;
    outline: none;
}

.links {
    width: 41%;
    height: 91%;
    padding: 2%;
    margin-left: 9%;
}

.textCadastro {
    font-size: x-large;
    margin-left: 10%;
    margin-top: 25%;
}

a {
    font-size: x-large;
    margin-left: 10%;
    color: #CF5D33;
}

@media (max-width: 768px) { /*Celular*/
    header {
        padding-top: 1rem;
    }

    .container {
        width: 90%;
        height: auto;
        background-size: contain;
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 1024px) { /*Note pequenos*/
    .container {
        width: 79%;
    }
}

@media (max-width: 820px) {
    .container {
        width: 85%;
        padding: 1.5rem;
        background-size: contain;
    }
}

@media (max-width: 900px) { /*Tablets*/
    .container {
        width: 80%;
        height: auto;
        padding: 1.5rem;
        background-size: contain;
    }

    .titulo {
        font-size: 2rem;
        margin-left: 0;
        text-align: center;
    }

    .caixaTexto, .primeiraCaixaTexto {
        width: 11rem;
        margin-left: 1.5rem;
    }

    .email, .senha{
        margin-left: 1.5rem;
    }

    .quadrados {
        align-items: center;
        width: 100%;
        margin: 1rem 0;
    }

    .formulario, .links {
        padding: 1rem;
    }

    .links{
        margin-top: -13rem;
        margin-left: -5rem;
    }
}
