* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  position: relative;
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.top-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
}

.top-btn {
  width: 60px;
  height: 60px;
  cursor: pointer;
}


.logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 739px;
  width: 1313px;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}


.main-buttons {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  align-items: center;
}


.btn-wrapper {
  position: relative; 
  display: inline-block;
  cursor: pointer;
  width: 180px;
  max-width: 25vw;
}


.btn-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}


.btn-wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'MinhaFonte', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color:  #5B4E45;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  pointer-events: none; 
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('assets/Quache-HeavyExExp_PERSONAL') format('truetype');
    font-weight: normal;
    font-style: normal;
}









